@use "../../abstracts/variables" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.public__inform {
    @include flexCenter();
    flex-direction: column;
    height: 100vh;

    & img {
        @include size(350px);   
    }

    & :is(h1, p) {
        text-align: center;
    }

    & h1 {
        margin-top: 64px;
        font-size: 4.8rem;
        font-weight: 900;
    }

    & p {
        margin-top: 16px;
        color: #777;
        font-size: 3.2rem;
    }
}