$primary-color: #b91c1c;
$secondary-color: #ff7043;
$hover-color: #ffefef;
$ternary-color: #a1a1ac;
$tetrad-color: #f7f7f7;
$body-color: #fef7e8;

$red-primary-btn-color: #9f4d4d;
$red-secondary-btn-color: #f44336;
$blue-primary-btn-color: #0048ff;
$blue-secondary-btn-color: #007bff;
$green-primary-btn-color: #198754;
$green-secondary-btn-color: #3dc55d;
$yellow-primary-btn-color: #bf873e;
$yellow-secondary-btn-color: #f5c011;
$purple-primary-btn-color: #1e0096;
$purple-secondary-btn-color: #5d3fd3;
