@use "../../abstracts/variables" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.public__main {
  $padding-horizontal: 40px;
  $padding-vertical: 48px;
  $border-radius: 8px;

  position: relative;
  height: 100vh;
  padding: $padding-horizontal $padding-vertical;

  &-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-logo {
    @include size(100px);
  }

  &-title {
    font-size: 4rem;
  }

  & .ant-steps {
    margin-top: 14px;
  }

  & .ant-steps-item-container {
    display: flex;
    align-items: center;
  }

  & .ant-steps-item-icon {
    @include size(45px);
    border-radius: 50%;
    font-size: 1.8rem;
    line-height: 45px;
  }

  & .ant-steps-item-title {
    font-size: 2.4rem;
  }

  &-info,
  &-pay,
  &-methods,
  &-result {
    margin-top: 16px;
    min-height: calc(100vh - 350px);
  }

  &-info {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    // background: #fff;
    // padding: 24px;
    // border-radius: $border-radius;
  }

  // &-info-list-warper, &-info-payment {
  //   background: #fff;
  //   padding: 24px;
  //   border-radius: $border-radius;
  // }

  &-info-list,
  &-info-payment,
  &-method,
  &-result-group .emotion,
  &-result-group textarea {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  &-info-list-warper {
    width: 70%;
    height: calc(100vh - 340px);
    overflow: scroll;
    // border-bottom: 4px solid $primary-color;
    border-radius: $border-radius $border-radius 0 0;
  }

  &-info-list {
    width: 100%;
  }

  &-info-list thead {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &-info-list tr:has(th) {
    // border-bottom: 4px solid #000;
    background: $primary-color;
  }

  // &-info-list tr:has(td) {
  //   border-bottom: 1px solid #efefef;
  // }

  &-info-list tr :is(th, td) {
    padding: 16px 4px;
    font-size: 1.6rem;
  }

  &-info-list tr th {
    color: #fff;
    font-weight: 600;
  }

  &-info-list tr td {
    font-size: 1.6rem;
  }

  &-info-list tr:has(td):nth-of-type(odd) {
    background: #fff;
  }

  &-info-list tr:has(td):nth-of-type(even) {
    background: #fff2f2;
  }

  &-info-payment-group {
    width: 30%;
    // background: #f5f5f5;
  }

  &-info-payment,
  &-pay {
    background: #fff;
    padding: 20px;
    border-radius: $border-radius;
  }

  // &-info-payment {
  //   width: 30%;
  //   // background: #f5f5f5;
  // }

  &-info-payment:not(:first-of-type) {
    margin-top: 24px;
  }

  &-info-payment h2 {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 700;
    // letter-spacing: 0.2rem;
  }

  &-info-payment p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    font-size: 1.6rem;
  }

  &-info-payment p:first-of-type {
    margin-top: 20px;
  }

  &-info-payment p:not(:first-of-type) {
    margin-top: 8px;
  }

  &-info-payment p b {
    color: #000;
    // color: $primary-color;
    // font-size: 1.8rem;
    font-weight: 600;
  }

  &-info-payment p.total-price {
    margin-top: 16px;
  }

  &-info-payment p.total-price b {
    color: $primary-color;
    font-size: 2rem;
  }

  &-info-payment-line {
    @include size(100%, 4px);
    background: #000;
    margin-top: 16px;
    border-radius: 4px;
  }

  &-pay {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &-pay-header,
  &-result-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
  }

  &-pay-image,
  &-result-image {
    @include size(30px);
  }

  &-pay-title,
  &-result-title {
    font-size: 2rem;
    font-weight: 700;
  }

  &-pay-body,
  &-result-body {
    margin-top: 24px;
  }

  &-pay-info p {
    font-size: 1.7rem;
  }

  &-pay-info p:not(:first-of-type) {
    margin-top: 10px;
  }

  &-pay-info p span {
    display: inline-block;
    width: 30%;
  }

  &-pay-info p b {
    font-weight: 600;
  }

  &-pay-info :is(.qr-code, img) {
    @include size(300px !important);
    border-color: #ccc;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 50px 160px 80px;
  }

  &-method {
    display: flex;
    align-items: center;
    gap: 14px;
    width: calc(50% - calc(48px / 2));
    background: #fff;
    padding: 20px;
    border: 4px solid #fff;
    border-radius: $border-radius;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  &-method:not(.disabled):is(:hover, .active) {
    background: #fff;
    border-color: $primary-color;
  }

  &-method:not(.disabled):is(:hover, .active) {
    transform: translateY(-6px);
  }

  &-method img {
    @include size(60px);
  }

  &-method p {
    font-size: 2rem;
  }

  &-method.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &-result {
    display: flex;
    gap: 32px;
  }

  // &-result > * {
  //   background: #fff;
  // }

  &-result-inform {
    position: relative;
    @include flexCenter();
    flex-direction: column;
    width: 40%;
    background: transparent;
  }

  &-result-inform img {
    @include size(250px);
    margin-bottom: 80px;
  }

  &-result-inform .message-box {
    position: absolute;
    left: 0;
    bottom: 0;
    @include flexCenter();
    gap: 6px;
    width: 100%;
    background-color: #d1fae5;
    padding: 20px 0;
    border-radius: $border-radius;
    margin-top: 80px;
    color: #065f46;
    font-size: 2.2rem;
    font-weight: 600;
  }

  &-result-inform .message-box svg {
    @include size(30px);
  }

  &-result-rate {
    width: 60%;
    // @include flexCenter();
  }

  &-result-group-warper {
    width: 100%;
  }

  &-result-group .sub-title {
    font-size: 2rem;
    font-weight: 600;
  }

  &-result-group .emotions {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 14px;
  }

  &-result-group .emotion {
    width: calc(100% - calc(30px * 5 / 4));
    background: #fff;
    padding: 14px 10px;
    border: 3px solid #fff;
    border-radius: $border-radius;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  &-result-group .emotion img {
    @include size(50px);
  }

  &-result-group .emotion p {
    margin-top: 14px;
    color: #777;
    font-size: 1.6rem;
  }

  &-result-group .emotion:hover {
    transform: translateY(-4px);
  }

  &-result-group .emotion:is(:hover, .active) {
    border-color: $primary-color;
  }

  &-result-group.stars {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  &-result-group.stars .sub-title {
    width: 40%;
  }

  &-result-group.stars .ant-rate {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  &-result-group.stars .ant-rate-star {
    // margin-inline-end: 24px !important;
  }

  &-result-group.stars .anticon-star {
    font-size: 3.2rem !important;
  }

  &-result-group textarea {
    resize: none;
    width: 100%;
    min-height: 125px;
    padding: 10px;
    border: 3px solid #fff;
    margin-top: 10px;
    border-radius: $border-radius;
    font-size: 1.8rem;
    transition: 0.2s ease-in-out;
  }

  &-result-group textarea:is(:hover, :focus, :not(:placeholder-shown)) {
    border-color: $primary-color;
  }

  &-result-group + &-result-group {
    margin-top: 14px;
  }

  &-result-group:nth-of-type(2) {
    margin-top: 30px;
  }

  &-buttons {
    position: absolute;
    left: $padding-horizontal;
    bottom: $padding-vertical;
    width: calc(100% - calc($padding-horizontal * 2));
    display: flex;
    justify-content: space-between;
  }

  &-buttons button {
    @include size(200px, 50px);
    font-size: 1.8rem;
  }

  &-buttons button.right {
    margin-left: auto;
  }

  &-buttons:has(button.center) {
    @include flexCenter();
  }

  &-buttons button.center {
    width: 100%;
  }
}
