SERVER_PORT=

SPRING_DATASOURCE_HOST=
SPRING_DATASOURCE_DATABASE=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Staging
MOMO_STG_ENDPOINT=
MOMO_STG_ACCESS_KEY=
MOMO_STG_PARTNER_CODE=
MOMO_STG_SECRET_KEY=
MOMO_STG_REDIRECT_URL=
MOMO_STG_IPN_URL=
# Developer
MOMO_DEV_ENDPOINT=
MOMO_DEV_ACCESS_KEY=
MOMO_DEV_PARTNER_CODE=
MOMO_DEV_SECRET_KEY=
MOMO_DEV_REDIRECT_URL=
MOMO_DEV_IPN_URL=
# Production
MOMO_PROD_ENDPOINT=
MOMO_PROD_ACCESS_KEY=
MOMO_PROD_PARTNER_CODE=
MOMO_PROD_SECRET_KEY=
MOMO_PROD_REDIRECT_URL=
MOMO_PROD_IPN_URL=

# Staging
ZALOPAY_STG_APP_ID=
ZALOPAY_STG_KEY1=
ZALOPAY_STG_KEY2=
ZALOPAY_STG_ENDPOINT=
ZALOPAY_STG_CALLBACK_URL=
# Developer
ZALOPAY_DEV_APP_ID=
ZALOPAY_DEV_KEY1=
ZALOPAY_DEV_KEY2=
ZALOPAY_DEV_ENDPOINT=
ZALOPAY_DEV_CALLBACK_URL=
# Production
ZALOPAY_PROD_APP_ID=
ZALOPAY_PROD_KEY1=
ZALOPAY_PROD_KEY2=
ZALOPAY_PROD_ENDPOINT=
ZALOPAY_PROD_CALLBACK_URL=