@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.drawer {
  $border-radius: 6px;

  & .ant-drawer-title {
    font-size: 2.2rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &__text-area {
    height: 140px !important;
    font-size: 1.6rem;
  }

  &:has(&__qr) .ant-image {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &__qr {
    @include size(200px !important);
  }

  &__button {
    width: 100%;
    margin-top: 30px;
    font-size: 1.4rem;
    border-radius: $border-radius;
  }

  &__message-content-warper {
    height: 700px;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #dedede;
    border-radius: $border-radius;
    overflow-y: scroll;
  }

  &__message-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
  }

  &__message-bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word;
    font-size: 1.4rem;
    line-height: 1.4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  &__message-bubble.admin {
    background: #f2f2f2;
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }

  &__message-bubble.customer {
    align-self: flex-end;
    background: #1e90ff;
    color: white;
    border-bottom-right-radius: 0;
  }

  &__message-bubble span {
    display: block;
    font-size: 1.2rem;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.7);
  }

  &__message-bubble.admin span {
    color: #555;
  }

  &__message-action {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
  }

  &__message-action :is(input, button) {
    font-size: 1.7rem;
  }

  &__message-action input {
    @include size(80%, 50px);
  }

  &__message-action button {
    @include size(20%, 50px);
  }

  &__message-inform {
    @include flexCenter();
    flex-direction: column;
    height: 100%;
  }

  &__message-inform img {
    @include size(240px);
  }

  &__message-inform p {
    margin-top: 32px;
    color: #333;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
  }
}
