@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.table-actions {
  $big-height-image: 140px;
  $small-height-image: 45px;
  $cell-padding: 16px;

  &.ant-table-wrapper .ant-table {
    border-radius: $admin-border-radius $admin-border-radius 0 0 !important;
  }

  &.ant-table-wrapper table {
    table-layout: fixed !important;
    border-radius: $admin-border-radius $admin-border-radius 0 0 !important;
  }

  // &.ant-table-wrapper
  //   table
  //   :where(th, td) {
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  // }

  &.ant-table-wrapper
    table
    :where(th.ant-table-cell, th .ant-table-column-title, td) {
    text-align: center !important;
  }

  &.ant-table-wrapper table td.ant-table-cell.left {
    text-align: left !important;
  }

  &.ant-table-wrapper table td.ant-table-cell.right {
    text-align: right !important;
  }

  &.ant-table-wrapper table td.ant-table-cell .ant-tag {
    margin-inline-end: 0 !important;
  }

  &.ant-table-wrapper table td button.action {
    padding: 2px 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  &.ant-table-wrapper table td button.action.info {
    background: $blue-secondary-btn-color;
    border-color: $blue-secondary-btn-color;
  }

  &.ant-table-wrapper table td button.action.update {
    background: $yellow-primary-btn-color;
    border-color: $yellow-primary-btn-color;
  }

  &.ant-table-wrapper table td button.action.lock {
    background: $red-primary-btn-color;
    border-color: $red-primary-btn-color;
  }

  &.ant-table-wrapper table td button.action.print {
    background: $ternary-color;
    border-color: $ternary-color;
  }

  &.ant-table-wrapper table td button.action:is(:hover, .active) {
    background: #fff;
  }

  &.ant-table-wrapper table td button.action.info:where(:hover, .active) {
    color: $blue-secondary-btn-color;
  }

  &.ant-table-wrapper table td button.action.update:where(:hover, .active) {
    color: $yellow-primary-btn-color;
  }

  &.ant-table-wrapper table td button.action.lock:where(:hover, .active) {
    color: $red-primary-btn-color;
  }

  &.ant-table-wrapper table td button.action.print:where(:hover, .active) {
    color: $ternary-color;
  }

  // &.ant-table-wrapper table td button.action.margin-lr {
  //   margin: 0 4%;
  // }

  // &.ant-table-wrapper table td button.action.margin-l {
  //   margin-left: 4%;
  // }

  // &.ant-table-wrapper table td button.action.margin-r {
  //   margin-right: 4%;
  // }

  &.ant-table-wrapper table td.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
  }

  &.ant-table-wrapper .ant-pagination {
  }

  &.restaurants td
  &.customer-cards td,
  &.category-foods td,
  &.foods td {
    line-height: $big-height-image;
  }

  &.restaurants td .ant-image,
  &.customer-cards td .ant-image,
  &.category-foods td .ant-image,
  &.foods td .ant-image {
    width: 100%;
  }

  &.restaurants td img,
  &.customer-cards td img,
  &.category-foods td img,
  &.foods td img,
  &:is(.managers, .customers, .employees) td img {
    height: $big-height-image;
    border: 4px solid #fff;
    border-radius: 12px;
    // background: #000;
    // object-fit: contain;

    transition: border-color 0.3s ease-in-out;
  }

  &.restaurants td :is(.ant-image, .ant-image-mask),
  &.customer-cards td :is(.ant-image, .ant-image-mask),
  &.category-foods td :is(.ant-image, .ant-image-mask),
  &.foods td :is(.ant-image, .ant-image-mask) {
    height: $big-height-image;
  }

  &.restaurants td.buttons,
  &.customer-cards td.buttons,
  &.category-foods td.buttons,
  &.foods td.buttons {
    height: calc($big-height-image + calc($cell-padding * 2));
  }

  // &.category-foods td img {
  //   object-fit: contain;
  // }

  &:is(.managers, .customers, .employees) td img {
    @include size($small-height-image);
    border-width: 3px;
    border-radius: 50%;
    object-fit: cover;
  }

  &:is(.managers, .customers, .employees) td :is(.ant-image, .ant-image-mask) {
    height: $small-height-image;
  }

  &:is(.managers, .customers, .employees) td.buttons {
    height: calc($small-height-image + calc($cell-padding * 2));
  }

  &.restaurants td tr:hover img,
  &.customer-cards tr:hover img,
  &.category-foods tr:hover img,
  &.foods tr:hover img,
  &:is(.managers, .customers, .employees) tr:hover img {
    border-color: $primary-color;
  }
}

.table-no-actions,
.table-role-details,
.table-has-checkboxes {
  $table-height: 40px;

  border-collapse: separate;
  /* Bắt buộc để bo góc */
  border-spacing: 0;
  /* Không có khoảng cách giữa ô */
  border-radius: 8px 8px 0 0;
  /* Bo góc */
  overflow: hidden;
  /* Ẩn phần dư thừa */
  width: 100%;

  & tr {
    height: $table-height;
    line-height: $table-height;
    cursor: default;
  }

  & th {
    background: #000;
    color: #fff;
    font-weight: 600;
  }

  & th:not(:first-of-type),
  & td:first-of-type {
    cursor: pointer;
  }

  & td {
    border-bottom: 1px solid #ccc;
  }
}

.table-dashboard {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  font-family: sans-serif;

  & th {
    /* background-color: #303234; */
    background: $primary-color;
    color: #ffffff;
    font-weight: bold;
  }

  & th,
  & td {
    height: 37px;
    // padding: 4px 6px;
    padding: 0 14px;
    // border: 1px solid #000;
    border-top-color: #fff;
    // font-size: 1.8rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 37px;
  }

  & tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  & tfoot td:first-of-type {
    background: $primary-color;
    color: #fff;
    // font-size: 1.8rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  & tfoot tr {
    border: 2px solid $primary-color;
  }

  &.profit th {
    background: #76b7b2;
  }

  &.profit tfoot td:first-of-type {
    background: #76b7b2;
  }

  &.profit tfoot tr {
    border-color: #76b7b2;
  }

  &.revenue th {
    background: #4e79a7;
  }

  &.revenue tfoot td:first-of-type {
    background: #4e79a7;
  }

  &.revenue tfoot tr {
    border-color: #4e79a7;
  }

  &.expense th {
    background: #e15759;
  }

  &.expense tfoot td:first-of-type {
    background: #e15759;
  }

  &.expense tfoot tr {
    border-color: #e15759;
  }

  & td.left {
    text-align: left;
  }

  & td.right {
    text-align: right;
  }
}
