@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.use-table {
  width: 100%;
  background: #f9fafb;
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 8px;
  transition: border-color 0.2s ease-in-out, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  // &.red {
  //   border-color: $red-secondary-btn-color;
  // }

  // &.green {
  //   border-color: $green-secondary-btn-color;
  // }

  // &.yellow {
  //   border-color: $yellow-secondary-btn-color;
  // }

  // &.gray {
  //   border-color: #bbb;
  // }

  &:hover {
    background: #fff;
    border-color: $primary-color;
    transform: translateY(-6px);
    // transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  & .title {
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    transition: transform 0.2s ease;

  }

  // &.red .title {
  //   color: $red-secondary-btn-color;
  // }

  // &.green .title {
  //   color: $green-secondary-btn-color;
  // }

  // &.yellow .title {
  //   color: $yellow-secondary-btn-color;
  // }

  // &.gray .title {
  //   color: #bbb;
  // }

  &:hover .title {
    color: $primary-color;
  }

  & .info {
    font-size: 1.4rem;
    color: #000;
    margin-top: 8px;
  }

  & .info b {
    color: #666;
    font-weight: 600;
  }

  & .info .status {
    // display: inline-block;
    padding: 4px 10px;
    border-radius: 8px;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &.red .info>.status {
    background-color: $red-secondary-btn-color;
  }

  &.green .info>.status {
    background-color: $green-secondary-btn-color;
  }

  &.yellow .info>.status {
    background-color: $yellow-secondary-btn-color;
  }

  &.gray .info>.status {
    background-color: #bbb;
  }

  & .title+.info {
    margin-top: 16px;
  }
}