@use "../../abstracts/variables" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.header {
  $header-user-avatar-size: 36px;

  position: sticky;
  top: 0;
  z-index: 1000;
  @include flex(space-between, center);
  background: $primary-color;
  padding: 16px 14px;
  height: auto;

  &__title {
    color: #fff;
    font-size: 2rem;
    line-height: normal;
    font-weight: 600;
  }

  &__actions,
  &__actions .change-theme {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__actions {
    padding: 0;
  }

  &__actions .change-language {
    @include size(140px, $header-user-avatar-size);
    min-width: 140px;
  }

  //   &__actions .change-theme {
  //     gap: 4px;
  //   }

  //   &__actions .change-theme .anticon {
  //     color: #fff;
  //     font-size: 2rem;
  //   }

  //   &__actions .change-theme .ant-switch {
  //     @include size(60px, 32px);
  //     border-radius: 10px;
  //     line-height: 32px;
  //   }

  //   &__actions .change-theme .ant-switch-handle {
  //     @include size(20px);
  //     top: calc(calc(32px / 2) - calc(20px / 2))
  //   }

  //    &__actions .change-theme .ant-switch-inner > * {
  //     font-size: 1.8rem !important;
  //   }

  //   &__actions .change-theme .ant-switch-inner-unchecked {
  //     margin-top: -32px;
  //   }

  &__actions .avatar {
    @include size($header-user-avatar-size);
    cursor: pointer;
  }
}
