@use "../../abstracts/variables" as *;
@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.main {
  $filter-find-width: 40%;
  $filter-select-width: calc(
    calc(calc(100% - $filter-find-width) / 3) -
      calc(calc($admin-space / 2) * 2 / 3)
  );
  $filter-button-width: 16%;
  $card-padding: 24px; // Theo mặc định của ant
  $calendar-border-radius: 8px;
  $main-border-radius: 8px;

  position: relative;
  z-index: 999;
  // width: calc(100% - $admin-sidebar-width);
  // background: #ccc;
  padding: $admin-space;
  // margin-left: $admin-sidebar-width;
  transition: width 0.3s ease, margin-left 0.3s ease;
  overflow: visible;

  // body:has(.sidebar.hide) & {
  //   width: calc(100% - $admin-sidebar-hidden-width);
  //   margin-left: $admin-sidebar-hidden-width;
  // }

  // &__header,
  // &__filter {
  //   position: sticky;
  //   top: 100px;
  //   z-index: 2000;
  //   background: $body-color;
  // }

  // &__filter {
  //   top: calc(100px + calc($admin-header-height - $admin-space));
  // }

  &__header {
    @include size(100%, calc($admin-header-height - $admin-space));
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
  }

  &__segmented {
    @include size(100%, $admin-segmented-height !important);
  }

  &__chart {
    display: flex;
    align-items: center;
    gap: calc($admin-space / 2);
    // background: #fff;
    // padding: 14px 16px;
    // border-radius: $main-border-radius;
  }

  &__chart text {
    font-size: 2.4rem;
  }

  &__chart.split-2 > * {
    width: 50%;
    height: 100%;
    // @include size(50%, 200px);
    // background: #fff;
    // border-radius: $main-border-radius;
  }

  &__chart-card {
    // @include flex(stretch, center);
    display: flex;
    gap: calc($admin-space / 2);
    flex-wrap: wrap;
  }

  &__chart-card > * {
    width: calc(100% / 2 - calc($admin-space / 4));
    height: auto;
    border: none;
  }

  &__chart-card .ant-card-body {
    height: 100%;
  }

  &__chart-card .ant-statistic-title {
    font-size: 1.6rem;
  }

  &__chart-card .ant-statistic-content {
    font-size: 2.4rem;
  }

  &__chart-card .card-1 .ant-card-body,
  &__cards.dashboard-revenue .card-1 .ant-card-body {
    background-color: #ffeccf;
  }

  &__chart-card .card-1 .ant-statistic-content span,
  &__cards.dashboard-revenue .card-1 .ant-statistic-content span {
    color: #f57c00;
  }

  &__chart-card .card-2 .ant-card-body,
  &__cards.dashboard-revenue .card-2 .ant-card-body {
    background-color: #e3f2fd;
  }

  &__chart-card .card-2 .ant-statistic-content span,
  &__cards.dashboard-revenue .card-2 .ant-statistic-content span {
    color: #1976d2;
  }

  &__chart-card .card-3 .ant-card-body,
  &__cards.dashboard-revenue .card-3 .ant-card-body {
    background-color: #e8f5e9;
  }

  &__chart-card .card-3 .ant-statistic-content span,
  &__cards.dashboard-revenue .card-3 .ant-statistic-content span {
    color: #388e3c;
  }

  &__chart-card .card-4 .ant-card-body,
  &__cards.dashboard-revenue .card-4 .ant-card-body {
    background-color: #ffe9ec;
  }

  &__chart-card .card-4 .ant-statistic-content span,
  &__cards.dashboard-revenue .card-4 .ant-statistic-content span {
    color: #d32f2f;
  }

  &__filter {
    @include flex(stretch, center);
    flex-wrap: wrap;
    gap: calc($admin-space / 2);
    // position: relative;
    height: $admin-filter-height !important;
  }

  &__segmented *,
  &__filter * {
    height: 100% !important;
  }

  &__filter-find {
    width: calc($filter-find-width - calc($admin-space / 2));
  }

  &__filter-select {
    width: $filter-select-width;
  }

  &__filter-select.big {
    width: calc(
      $filter-select-width + calc($filter-select-width - $filter-button-width)
    );
  }

  &__filter-select .ant-select-selection-overflow {
    padding: 0 0 4px;
  }

  &__filter-find .ant-input-group-addon {
    width: 20% !important;
    background: $tetrad-color !important;
    padding: 0 !important;
  }

  &__filter-find .ant-select {
    width: 100% !important;
  }

  &__filter-find .ant-select-selection-item,
  &__filter-select
    :where(.ant-select-selection-item, .ant-select-selection-placeholder) {
    line-height: calc($admin-filter-height - 4px) !important;
  }

  &__filter-find .ant-select-arrow,
  &__filter-select .ant-select-arrow,
  &__filter-select .ant-select-clear {
    margin-top: -20px;
  }

  // &__filter-select .ant-select-selection-item .hasImageInLabel {
  //   @include flex(stretch, center);
  //   gap: 8px;
  // }

  // &__filter-select .ant-select-selection-item .hasImageInLabel img {
  //   height: 60% !important;
  //   border-radius: 50%;
  // }

  &__filter-select.full {
    width: 100%;
  }

  &__filter-button {
    // position: absolute;
    // top: 0;
    // right: 0;
    margin-left: auto;
    width: $filter-button-width;
    font-size: 1.5rem;
  }

  &__filter-button .icon {
    @include size(1.6rem !important);
  }

  &__filter.table-histories &__filter-select.filter-time,
  &__filter.use-tables &__filter-select.filter-time,
  &__filter.call-foods &__filter-select.filter-time {
    width: calc($filter-find-width - calc($admin-space / 2));
  }

  // &__filter.order-tables &__filter-select.filter-date {
  //   width: calc(calc(calc(100% - $filter-find-width - $filter-button-width) / 2) - calc($admin-space / 2));
  // }

  &__table-histories,
  &__use-tables,
  &__use-foods,
  &__segmented + &__filter,
  &__chart,
  &__cards,
  &__table,
  &__info,
  &__calendar {
    margin-top: calc($admin-space / 2);
  }

  &__use-foods .ant-list-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: calc($admin-space / 2);
  }

  &__use-foods .ant-list-item {
    width: calc(100% / 4 - calc(calc(($admin-space / 2) * 3) / 4));
    padding: 0;
    border-block-end: none;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: border-color 0.2s ease-in-out, transform 0.2s ease;
    cursor: pointer;
  }

  &__use-foods .ant-list-item:hover {
    border-color: $primary-color;
    // transform: translateY(-6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &__use-foods .ant-list-item .ant-card {
    width: 100%;
  }

  &__use-foods .ant-list-item .ant-card-bordered {
    border: none;
  }

  &__use-foods .ant-list-item .ant-card-bordered .ant-card-cover {
    margin-top: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  &__use-foods .ant-list-item .ant-card-bordered .ant-card-cover img {
    height: 200px;
  }

  &__use-foods .ant-list-item .ant-card-meta-description .price {
    color: #f9c74f;
  }

  &__use-foods .ant-list-item .ant-card-actions span {
    padding: 0 10px;
  }

  &__use-foods .ant-list-item .ant-card-actions li button {
    width: 100%;
  }

  &__order-sheets {
    margin-top: $admin-space;
  }

  &__cards {
    @include flex(stretch, center);
    gap: calc($admin-space / 4);
  }

  &__cards .ant-card {
    width: calc(100% / 5 - calc($admin-space / 5));
  }

  &__cards.dashboard-revenue .ant-card {
    width: calc(100% / 4 - calc(calc($admin-space * 3) / 16));
  }

  &__cards .ant-card-body {
    padding: calc($card-padding - 10px) calc($card-padding - 8px);
  }

  &__table {
    position: relative;
    z-index: 1;
  }

  &__table.dashboard {
    background: #fff;
    border-radius: $main-border-radius;
    padding: 14px;
  }

  &:has(&__cards) &__table {
    margin-top: calc($admin-space / 4);
  }

  &__info,
  &__calendar {
    background: #fff;
    padding: 14px 16px;
    border-radius: $calendar-border-radius;
  }

  &__info {
    @include size(100%, 40px);
    // border-radius: $calendar-border-radius $calendar-border-radius 0 0;
  }

  &__calendar {
    border-radius: $calendar-border-radius;
    // margin-top: $admin-space;
  }

  &__calendar
    :where(
      .fc-daygrid-body,
      .fc-scrollgrid-sync-table,
      .fc-col-header,
      .fc-timegrid-body,
      .fc-timegrid-slots table,
      .fc-timegrid-cols table
    ) {
    width: 100% !important;
  }

  &__calendar .fc-scrollgrid-sync-table td {
    height: 100px !important;
    cursor: pointer;
    transition: 0.1s ease;
  }

  &__calendar
    :where(.fc-scrollgrid-sync-table, .fc-timegrid-slots)
    td:not(.fc-scrollgrid-shrink):hover {
    background: #eee;
    // color: #fff;
  }

  &__calendar .fc-timegrid-col-events {
    margin: 0;
  }

  &__notes {
    @include flex(flex-start, center);
    gap: 20px;
    width: 100%;
    margin-bottom: 14px;
  }

  &__notes p {
    color: #777;
  }

  &__notes p span {
    display: inline-block;
    @include size(10px);
    border-radius: 50%;
    background: #000;
  }

  &__notes p span.green {
    background: $green-secondary-btn-color;
  }

  &__notes p span.yellow {
    background: $yellow-secondary-btn-color;
  }

  &__notes p span.red {
    background: $red-secondary-btn-color;
  }

  &__notes p span.gray {
    background: $ternary-color;
  }

  // &__filter-select.filter-employee .ant-select-selector {
  //   padding: 0 11px 0 0;
  // }

  &__filter-select.filter-employee {
    height: 120px !important;
  }

  // &__filter-select.filter-employee
  //   .ant-select-selection-item
  //   .hasImageInLabel
  //   > img {
  //   @include size(40px !important);
  // }

  // &__filter-select.filter-employee
  //   .ant-select-selection-item
  //   .hasImageInLabel
  //   span {
  //   height: calc(60px / 3) !important;
  //   line-height: calc(60px / 3);
  // }

  &:has(&__filter-select.filter-employee) &__calendar {
    margin-top: calc($admin-space / 2 - calc($admin-filter-height - 120px));
  }

  &__order-sheets,
  &__use-tables {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
  }
}
