@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

/* <===== Button =====> */
.btn {
  @include size(120px, $admin-filter-height);
  background: $primary-color;
  border: 3px solid $primary-color;
  border-radius: $admin-border-radius;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &.secondary-btn {
    background: #2286e3;
    border-color: #2286e3;
  }

  &:where(.red-primary, .lock) {
    background: $red-primary-btn-color;
    border-color: $red-primary-btn-color;
  }

  &.red-secondary {
    background: $red-secondary-btn-color;
    border-color: $red-secondary-btn-color;
  }

  &:where(.blue-primary, .filter) {
    background: $blue-primary-btn-color;
    border-color: $blue-primary-btn-color;
  }

  &.blue-secondary {
    background: $blue-secondary-btn-color;
    border-color: $blue-secondary-btn-color;
  }

  &:where(.green-primary, .create) {
    background: $green-primary-btn-color;
    border-color: $green-primary-btn-color;
  }

  &.green-secondary {
    background: $green-secondary-btn-color;
    border-color: $green-secondary-btn-color;
  }

  &:where(.yellow-primary, .update) {
    background: $yellow-primary-btn-color;
    border-color: $yellow-primary-btn-color;
  }

  &.yellow-secondary {
    background: $yellow-secondary-btn-color;
    border-color: $yellow-secondary-btn-color;
  }

  &.purple-primary {
    background: $purple-primary-btn-color;
    border-color: $purple-primary-btn-color;
  }

  &.purple-secondary {
    background: $purple-secondary-btn-color;
    border-color: $purple-secondary-btn-color;
  }

  &.gray-secondary {
    background: #bbb;
    border-color: #bbb;
  }

  &.info {
    background: $blue-secondary-btn-color;
    border-color: $blue-secondary-btn-color;
  }

  &.print {
    background: $ternary-color;
    border-color: $ternary-color;
  }

  &:hover,
  &.active {
    background: #fff;
    color: $primary-color;
  }

  &.secondary-btn:hover,
  &.secondary-btn.active {
    background: #fff;
    color: #2286e3;
  }

  &:where(.red-primary, .lock):hover,
  &:where(.red-primary, .lock).active {
    color: $red-primary-btn-color;
  }

  &.red-secondary:hover,
  &.red-secondary.active {
    color: $red-secondary-btn-color;
  }

  &:where(.blue-primary, .filter):hover,
  &:where(.blue-primary, .filter).active {
    color: $blue-primary-btn-color;
  }

  &.blue-secondary:hover,
  &.blue-secondary.active {
    color: $blue-secondary-btn-color;
  }

  &:where(.green-primary, .create):hover,
  &:where(.green-primary, .create).active {
    color: $green-primary-btn-color;
  }

  &.green-secondary:hover,
  &.green-secondary.active {
    color: $green-secondary-btn-color;
  }

  &:where(.yellow-primary, .update):hover,
  &:where(.yellow-primary, .update).active {
    color: $yellow-primary-btn-color;
  }

  &.yellow-secondary:hover,
  &.yellow-secondary.active {
    color: $yellow-secondary-btn-color;
  }

  &.purple-primary:hover,
  &.purple-primary.active {
    color: $purple-primary-btn-color;
  }

  &.purple-secondary:hover,
  &.purple-secondary.active {
    color: $purple-secondary-btn-color;
  }

  &.gray-secondary:hover,
  &.gray-secondary.active {
    color: #bbb;
  }

  &.info:hover,
  &.info.active {
    color: $blue-secondary-btn-color;
  }

  &.print:hover,
  &.print.active {
    color: $ternary-color;
  }

  &:disabled {
    background: #dedede !important;
    border-color: #dedede !important;
    cursor: not-allowed !important;
  }

  &:disabled.red {
    background: $red-secondary-btn-color !important;
    border-color: $red-secondary-btn-color !important;
  }

  &:disabled:hover {
    color: #fff !important;
  }
}

.comeback {
  height: $admin-filter-height;
  color: #777;
  font-size: 2rem;
  transition: 0.2s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}
