@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.drawer {
  & .ant-drawer-title {
    font-size: 2.2rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &__text-area {
    height: 140px !important;
    font-size: 1.6rem;
  }

  &:has(&__qr) .ant-image {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &__qr {
    @include size(200px !important);
  }

  &__button {
    width: 100%;
    margin-top: 30px;
    font-size: 1.4rem;
  }
}
